In [6]:
# Import dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import random_projection

# To perform Hot Encoding
from sklearn.preprocessing import StandardScaler, LabelEncoder
from keras.utils import to_categorical
from keras.models import Sequential, load_model
from keras.layers import Dense

# To transform data
from datetime import datetime as dt

# To save transformer
import pickle

In [7]:
df = pd.read_csv('Model_Data.csv')
df.head(5)

/Users/yuh13/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,IB Material - Key,Installed At - Key,RMA Create Date,Defective,Serial Number,Shipped Day,Lifespan(days)
0,0,81Y8237,100034495,3/20/2017,1,233G04B,10/12/2012,1620.0
1,1,81Y8349,101400565,1/31/2018,1,231S01X,7/18/2011,2389.0
2,2,95Y0510,101183390,4/12/2017,1,EM0711427457,10/29/2013,1261.0
3,3,95Y0510,101183390,4/27/2017,1,EM0711427505,12/13/2012,1596.0
4,4,95Y0510,101183390,4/27/2017,1,EM0711427426,12/13/2012,1596.0

In [8]:
df = df.drop(['Serial Number', 'RMA Create Date', 'Shipped Day'], axis=1)
df = df.dropna(subset=['Lifespan(days)'])
print("final dataframe shape: ", df.shape)
df.head(5)

final dataframe shape:  (1408350, 5)

   Unnamed: 0 IB Material - Key Installed At - Key  Defective  Lifespan(days)
0           0           81Y8237          100034495          1          1620.0
1           1           81Y8349          101400565          1          2389.0
2           2           95Y0510          101183390          1          1261.0
3           3           95Y0510          101183390          1          1596.0
4           4           95Y0510          101183390          1          1596.0

In [17]:
import random

proxy_materials = random.sample(list(df['IB Material - Key']), 100)

In [18]:
proxy_age = random.sample(list(df['Lifespan(days)']), 100)

In [23]:
proxy = {'IB Material - Key': proxy_materials, 'Lifespan(days)': proxy_age}
proxy_df = pd.DataFrame(proxy)
proxy_df.head(5)

  IB Material - Key  Lifespan(days)
0       SRX110H2-VA           922.0
1        EX3300-48P           138.0
2          SRX100H2           890.0
3  QFX5100-48S-3AFO           670.0
4       BT8A78CFP1G           286.0

In [24]:
proxy_df.to_csv('proxy.csv')